
@{
    ViewBag.Title = "Auditorias";
    Layout = "~/Views/Shared/_Authenticated.cshtml";
    ViewBag.VistaActiva = "Administracion";
}



<div class="col-md-12 col-sm-12">
    <div class="row">

        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Administración</h5>
                    <p class="card-text">Auditoría de Administración</p>
                    <a href="@Url.Action("AuditoriaAdministracion","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Asistencia</h5>
                    <p class="card-text">Auditoría de Asistencia</p>
                    <a href="@Url.Action("AuditoriaAsistencia","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Avisos</h5>
                    <p class="card-text">Auditoría de Avisos</p>
                    <a href="@Url.Action("AuditoriaAvisos","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Calificaciones</h5>
                    <p class="card-text">Auditoría de Calificaciones</p>
                    <a href="@Url.Action("AuditoriaCalificaciones","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Clases</h5>
                    <p class="card-text">Auditoría de Clases</p>
                    <a href="@Url.Action("AuditoriaClases","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Auditoría de Docentes</p>
                    <a href="@Url.Action("AuditoriaDocentes","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Auditoría de Administración</p>
                    <a href="@Url.Action("AuditoriaEstudiantes","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Consulta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Inicios de Sesión</h5>
                    <p class="card-text">Auditoría de Inicios de Sesión</p>
                    <a href="@Url.Action("AuditoriaLogins","Auditorias")" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>


    </div>
</div>


