@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Authenticated.cshtml";
    ViewBag.VistaActiva = "Administracion";
}


<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Administración de usuarios</p>
                    <a href="@Url.Action("Usuarios","Usuarios")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cursos</h5>
                    <p class="card-text">Administración de cursos</p>
                    <a href="@Url.Action("Cursos","Cursos")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Estados de Asistencia</h5>
                    <p class="card-text">Administración de estados de asistencia</p>
                    <a href="@Url.Action("EstadosAsistencia","EstadosAsistencia")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Clases</h5>
                    <p class="card-text">Administración de clases</p>
                    <a href="@Url.Action("Clases","Clases")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Administración de estudiantes</p>
                    <a href="@Url.Action("Estudiantes","Estudiantes")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Administración de docentes</p>
                    <a href="@Url.Action("Docentes","Docentes")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Grados</h5>
                    <p class="card-text">Administración de grados</p>
                    <a href="@Url.Action("Grados","Grados")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Evaluaciones</h5>
                    <p class="card-text">Administración de evaluaciones</p>
                    <a href="@Url.Action("Evaluaciones","Evaluaciones")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Padres</h5>
                    <p class="card-text">Administración de padres</p>
                    <a href="@Url.Action("Padres","Padres")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
            <div class="card">
                <div class="card-header">
                    Mantenimiento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Auditorías</h5>
                    <p class="card-text">Administración de auditorías</p>
                    <a href="@Url.Action("Auditorias","Auditorias")" class="btn btn-primary">Gestionar</a>
                </div>
            </div>
        </div>
    </div>
</div>
